<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: head"></head>
<header>
    <nav th:replace="fragments/fragment :: navigation"></nav>
</header>
<body>
    <div>
        <ul class="recipesList align-content-center">
            <li class="m-5" th:each="recipe : ${recipes}" th:object="${recipe}">
                <img th:src="*{imgUrl}" alt="Recipe image" width="500" height="350">
                <h5 th:text="*{name}"></h5>
                <h5 th:text="*{difficulty}"></h5>
                <h5 th:text="*{addedBy}"></h5>
            </li>
        </ul>
    </div>
</body>
<footer th:replace="fragments/fragment :: footer"></footer>
</html>