<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: head"></head>
<header>
    <nav th:replace="fragments/fragment :: navigation"></nav>
</header>
<body>
<main>
    <div class="homePictures" name="img" th:each="recipe : ${recipes}" th:object="${recipe}">
        <p class="h2 text-center text-white" th:text="*{name}"></p>
        <a th:href="@{/recipe/details{id}(id = *{id})}"><img th:src="*{imgUrl}"  alt="Recipe image" width="1100" height="700"></a>
    </div>
</main>
</body>
<footer th:replace="fragments/fragment :: footer"></footer>
<script th:src="@{/js/homePictures.js}"></script>
</html>