<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: head"></head>
<header>
    <nav th:replace="fragments/fragment :: navigation"></nav>
</header>
<body>
<main>
    <div name="img" th:each="recipe : ${recipes}" th:object="${recipe}">
        <div th:href="@{/recipe/details{id}(id = *{id})}">
            <img th:src="*{imgUrl}" alt="Recipe image" width="500" height="350">
        </div>
    </div>
</main>
</body>
<footer th:replace="fragments/fragment :: footer"></footer>
<script th:src="@{/js/homePictures.js}"></script>
</html>