<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: head"></head>
<header>
    <nav th:replace="fragments/fragment :: navigation"></nav>
</header>
<body>
<div>
    <ul class="recipesMenusList ">
        <li class="m-5 page-link "   th:each="product : ${products}" th:object="${product}">
            <a th:href="@{/product/details{id}(id = *{id})}">
                <img th:src="*{imgUrl}" alt="Products image"  width="500" height="350">
                <h5 class="text-dark" th:text="*{name}"></h5>
                <a class="text-dark" th:text="*{price}"></a>
            </a>
        </li>
    </ul>
</div>
</body>
<footer th:replace="fragments/fragment :: footer"></footer>
</html>